.App 
  margin: 20px

  &-input
    display: block
    width: 100%
    box-sizing: border-box
    padding: 16px
    border: none
    box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.2)
    margin: 16px 0
    background-color: #fff

  &-box
    margin: 16px 0
    display: block
    background-color: #fff
    width: 100%
    box-sizing: border-box
    border: none
    box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.2)

.todo
  padding: 16px
  width: 100%
  box-sizing: border-box
  box-shadow: 0 0 1px 1px #ccc
  display: flex

  &-text
    padding: 0 4px
    flex: 1 0 auto

.close-btn
  border: 1px solid rgba(0,0,0,.2)
  padding: .5em

.TodoFilter
  display: block
  width: 100%
  box-sizing: border-box
  border: none
  height: 2.5em
